{% extends 'base.html' %}
{% block title %}Explore Singapore - National Orchid Garden{% endblock %}
{% block content %}
<style>


    #containerabout {
        width: 100%;
        height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://a.cdn-hotels.com/gdcs/production111/d1415/561d22b4-9a93-4d51-9b52-cb6969165980.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2vw;
        max-height: 600px;
        margin-bottom: 10px;
    }


</style>
<body>

        <!-- breadcrumbs -->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../homepage/index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="../places to visit/places to visit.html">Places to Explore</a></li>
                <li class="breadcrumb-item"><a href="../central/central.html">Central</a></li>
                <li class="breadcrumb-item active" aria-current="page">National Orchid Garden</li>
            </ol>
        </nav>

    <!-- Header Image -->
    <div id="containerabout">
        <div class="centered">
            <h2 class="headerabout" id="header">National Orchid Garden</h2>
        </div>
    </div>
    <div class="container" id="containerbackground">
        <div class="container" id="container2">
            <div class="row">
                <div class="col-12">
                    <h2 class="header">About Us</h2>
                </div>
                <div class="col-12">
                    <p>
                        The Singapore Botanic Gardens' tallest hill is where the Garden is situated. The three hectares of expertly landscaped slopes are home to 60,000 orchid plants, including 1000 species and more than 2,000 hybrids.<br><br> The design idea displays plants in four distinct color zones: the spring zone, which is dominated by vibrant and lively shades of gold, yellow, and cream; the summer zone, which is dominated by strong reds and pinks; the autumn zone, which is dominated by mature shades; and the winter zone, which is dominated by whites and cool blues. The color scheme is depicted by a carefully chosen arrangement of trees, shrubs, herbs, and orchids (mainly hybrids) with complementary leaf and flower colors.
                    </p>
                </div>
                <div class="col-12">
                    <h2 class="header">Visit this places</h2>
                </div>
                <div class="col-12">
                    <p>
                        <span id="smallheader">Tropical Montane Orchidetum</span><br>
                        The tropical Montane Orchidetum simulates the experience of ascending through a tropical montane forest and showcases a diversity of orchids and other plants (e.g. bromeliads, gingers, tropical rhododendrons, gesneriads (and magnolias) from the rich low to high-elevation montane forest. Each of the display houses within the Orchidetum has been expanded beyond their original size, increasing by almost threefold the combined display area.<br>
                        <br>
                        <span id="smallheader">The Sembcorp Cool House</span><br>
                        The Sembcorp Cool House is designed to emulate a high elevation montane forest, which exists at altitudes of 1,000m to 2,000m, and with a surrounding temperature of 16 to 23 degrees Celsius. Researchers will be able to study rare orchids that are naturally found only at higher elevations, such as such as Cymbidiums (also known as Boat Orchids), Dendrochilums (also known as Chain Orchids), Cyrtochilums and Phragmipediums (also known as Slipper Orchids). This will greatly benefit taxonomic and floristic research, as researchers will be able to grow rare species, before identifying and documenting them at a later stage when they flower.                             <br>
                        <br>
                        <span id="smallheader">Yuen Peng McNeice Bromeliad Collection</span><br>
                        The Yuen Peng McNeice Bromeliad Collection has been enhanced to emulate a mid-elevation Neotropical forest environment at 650m to 1,000m elevation. It showcases a selection of Neotropical plants such as bromeliads, aroids and Calathea species, as well as orchids. The 620m2 display house features key groups of plants from various bromeliad genera such as Ananas, Guzmania, Neoregelia, Tillandsia, Pitcairnia, Aechmea, Vriesia, Cryptanthus, etc, including both species and cultivars. In addition, orchids from the Neotropics are also featured, such as Cattleya,Epidendrum and Oncidium species and hybrids. <br><br>
                        <span id="smallheader">Tan Hoon Siang Mist House                            </span><br>
                        The upgraded Tan Hoon Siang Mist House mimics a paleotropical garden at 650m to 1,000m in altitude. Its display area has increased from 350m2 to 760m2, and features a selection of unique, uncommon or award-winning hybrids and species from the speciality breeding stock of orchids from the National Orchid Garden’s collection. Some examples of orchids that are featured are Phalaenopsis, Vandaceous hybrids and Dendrobiums. There will also be hybrids of the rare Lady’s Slipper orchid (Paphiopedilum). Named after Tan Hoon Siang, a successful businessman and descendant of Tan Tock Seng. An orchid enthusiast, Tan Hoon Siang was also a philanthropist. One of the orchids he bred was the Papilionanda Tan Chay Yan (previously known as Vanda Tan Chay Yan), which was awarded a First Class Certificate at the Chelsea Flower Show in 1954.
                    </p>
                    <p>Credits: <a href="https://www.nparks.gov.sg/sbg/our-gardens/tyersall-entrance/national-orchid-garden">NParks</a> ,<a href='https://www.hotels.com/go/singapore/singapore-national-orchid-garden'>Hotels</a></p>
                </div>
            </div>
        </div>
        <div class='container' id="container2">
            <div class="row">
                <div class="col-6">
                    <h2 class="header">Map</h2>
                    <div class="iframe-rwd">
                        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.3654428460975!2d103.79506666862281!3d1.3377424804594331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d553ae15f85%3A0xc46c0138cb182e39!2sJunkie&#39;s%20Corner!5e0!3m2!1sen!2ssg!4v1659794387369!5m2!1sen!2ssg" ></iframe>
                        <br>
                        <small>
                          <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.3654428460975!2d103.79506666862281!3d1.3377424804594331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d553ae15f85%3A0xc46c0138cb182e39!2sJunkie&#39;s%20Corner!5e0!3m2!1sen!2ssg!4v1659794387369!5m2!1sen!2ssg"  style="color:#0000FF;text-align:left">View Larger Map</a>
                        </small>
                    </div>
                </div>
                <div class = 'col-6'>
                    <h2 class="header">Operating Hours</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Days</th><th>Timing</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>Monday-Sunday</td><td>8:30am – 7:00pm (last ticket sales and entry at 6.00pm)</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>*Please note that some venues may be subject to opening hours, please visit their official website to confirm opening hours</p>
                    <h2 class="header">Contact Details</h2>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Phone Number:</td>
                                <td>+65 6475 5060</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>nparks_sbg_visitor_services@nparks.gov.sg                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="header">Visit Official Site</h2>
                    <table class="table table-hover">
                        <tbody >
                            <tr>
                                <td><a href="https://www.nparks.gov.sg/sbg/our-gardens/tyersall-entrance/national-orchid-garden" target="_blank" rel="noopener noreferrer">National Orchid Garden</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- End of .container -->
    <script type="text/javascript">
        var myModal = document.getElementById("myModal");
        var myInput = document.getElementById("myInput");
        myModal.addEventListener("shown.bs.modal", function () {
            myInput.focus();
        });
    </script>
</body>
{% endblock %}
