{% extends "base.html" %}
{% block title %}Explore Singapore - Berlayer Creek Broadwalk {% endblock %}

{% block content %}
<style>
    #containerabout {
        width: 100%;
        height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../static/img/south/4.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2vw;
        max-height: 600px;
        margin-bottom: 10px;
    }
</style>
<body>
<!-- breadcrumbs -->
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../homepage/index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="../places to visit/places to visit.html">Places to Explore</a></li>
        <li class="breadcrumb-item"><a href="../south/south.html">South</a></li>
        <li class="breadcrumb-item active" aria-current="page">Berlayer Creek Broadwalk</li>
    </ol>
</nav>

<!-- Header Image -->
<div id="containerabout">
    <div class="centered">
        <h2 class="headerabout" id="header">Berlayer Creek Broadwalk</h2>
    </div>
</div>
<div class="container" id="containerbackground">
    <div class="container" id="container2">
        <div class="row">
            <div class="col-12">
                <h2 class="header">About Us</h2>
            </div>
            <div class="col-12">
                <p>
                    Berlayer Creek is part of the Labrador Nature and Coastal Walk. It is part of a larger network of habitats snaking through the Southern Ridges to the waterfront.                           Currently one of two remaining mangroves located in the south of mainland Singapore, the 5.61-hectare Berlayer Creek comprises three types of habitats including – mangroves, rocky shore and mudflats and is home to a diverse group of fauna and flora.
                </p>
            </div>

            <div class="col-12">
                <h2 class="header">Things to see</h2>
            </div>
            <div class="col-12">
                <p>
                    <span id="smallheader"> Lords of the sky </span><br>
                    Birds make up a large number of these species. Some 60 species of birds have been recorded in Berlayer Creek and this list is continually growing. Furthermore, with the creek running adjacent to Labrador Nature Reserve, the bird community is not limited to the three habitats listed above.
                    Look out for one of the most imposing residents of the Berlayer Creek mangrove, Singapore's largest raptors - the White-bellied Fish Eagle. Try spotting the eagles in the tall Albizias along the mangrove. If you are lucky, you might be able to catch the birds hunting or dueling over the waters between Berlayer Creek and Sentosa. Other raptors you might see include the majestic Brahminy Kite, often observed soaring in the thermals found along the coastline.
                    <br><br>
                    <span id="smallheader"> Sounds of the mangrove</span><br>
                    A mangrove is rarely silent; the melodious song of birds, crickets and cicadas fill the air. Many of these are very difficult to spot due to their small sizes and the thick vegetation, but those with patience and sharp eyes may be well rewarded!
                    Flitting among the thick mangrove vegetation, the tiny gregarious Ashy Tailorbirds and Common Tailorbirds are ever present to greet visitors to the mangrove with their characteristic repetitive calls. Other striking calls often heard are those of the Laced Woodpecker and Common Flameback foraging for insects along the tree trunks. Take the time to listen out for the repetitive drumming of their beaks along the trunks of mature trees.
                    Birds associated with water abound in the mangrove, and the kingfishers are the crown jewels of the lot. Fall in love with their striking colours and be delighted by the laughing calls of the Stork-billed, Collared and White-throated Kingfishers.
                    <br><br>
                    <span id='smallheader'>From natives to migrants, an abundance of birdlife</span><br>
                    As you walk towards the coast, be sure to look keep an eye out for the elegant Chinese Pond Herons and Cattle Egrets found feeding in the long grass to the right of the boardwalk. These winter migrants visit our warm island during the migratory period of August to April. Other migrants that drop by Berlayer Creek include the diminutive Common Kingfisher, the gorgeous Asian Paradise Flycatcher and the pint-sized Artic Warbler.
                    Continuing onto the coast facing Sentosa, witness Little Terns diving spectacularly into the waters or the stately Great-billed Heron standing in the shallows of the rocky shore waiting for its unsuspecting prey to swim by. Watch the migratory Common Sandpipers skitterr over the breakwaters, wagging their tails as they do so.
                    As efforts to preserve and provide our native wildlife with undisturbed habitats continue, take this chance to become more aware and fall in love with our native wildlife, if you have not already done so. Take a walk along Berlayer Creek today to experience our rich natural heritage.
                </p>
            </div>
            <p>Credits: <a href="https://www.nparks.gov.sg/gardens-parks-and-nature/parks-and-nature-reserves/berlayer-creek">NParks</a></p>
        </div>
    </div>
    <div class='container' id="container2">
        <div class="row">
            <div class="col-6">
                <h2 class="header">Map</h2>
                <div class="iframe-rwd">
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.363703567318!2d103.8043038!3d1.26825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1e93b5520a1bf0!2sBerlayer%20Creek%20Boardwalk!5e0!3m2!1sen!2ssg!4v1659234960275!5m2!1sen!2ssg"></iframe>
                    <br>
                    <small>
                      <a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.363703567318!2d103.8043038!3d1.26825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1e93b5520a1bf0!2sBerlayer%20Creek%20Boardwalk!5e0!3m2!1sen!2ssg!4v1659234960275!5m2!1sen!2ssg" style="color:#0000FF;text-align:left">View Larger Map</a>
                    </small>
                </div>
            </div>
            <div class = 'col-6'>
                <h2 class="header">Operating Hours</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Days</th><th>Timing</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>Monday-Sunday</td><td>Open 24 hours</td>
                        </tr>
                    </tbody>
                </table>
                <p>*Please note that some venues may be subject to opening hours, please visit their official website to confirm opening hours</p>
            </div>
        </div>
    </div>
</div>

<!-- End of .container -->
<script type="text/javascript">
    var myModal = document.getElementById("myModal");
    var myInput = document.getElementById("myInput");
    myModal.addEventListener("shown.bs.modal", function () {
        myInput.focus();
    });
</script>
</body>
{% endblock %}
