{% extends 'base.html' %}
{% block title %}Explore Singapore - Rotunda Library & Archives{% endblock %}
{% block content %}
<style>
    #containerabout {
        width: 100%;
        height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.nationalgallery.sg/sites/default/files/20191008_JNX_9171-HDR_HIGHRES_WEBRES.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2vw;
        max-height: 600px;
        margin-bottom: 10px;
    }
</style>
<body>
    <!-- breadcrumbs -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../homepage/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../places to visit/places to visit.html">Places to Explore</a></li>
            <li class="breadcrumb-item"><a href="../south/south.html">South</a></li>
            <li class="breadcrumb-item active" aria-current="page">Rotunda Library & Archive</li>
        </ol>
    </nav>

    <!-- Header Image -->
    <div id="containerabout">
        <div class="centered">
            <h2 class="headerabout" id="header">Rotunda Library & Archive</h2>
        </div>
    </div>

    <!-- Information on the place -->
    <div class="container" id="containerbackground">
        <div class="container" id="container2">
            <div class="row">
                <div class="col-12">
                    <h2 class="header">About Us</h2>
                </div>
                <div class="col-12">
                    <p>
                        The Gallery’s Rotunda, located at the heart of the UOB Southeast Asia Gallery (Level 3, Supreme Court Wing), is a site of historical importance. During the building’s former life as the Supreme Court of
                        Singapore, the Rotunda served as the Law Library. Housed in this historical space, the Rotunda Library & Archive extends the memory of this site while serving a new function as a research hub for the study of art
                        history in Southeast Asia.
                    </p>
                </div>
                <div class="col-12">
                    <h2 class="header">More Information</h2>
                </div>
                <div class="col-12">
                    <p>
                        The Rotunda Library & Archive aims to be a leading library housing one of the world’s most comprehensive collections of Singapore and Southeast Asian art-historical resources from the 19th, 20th and 21st
                        centuries.<br />
                        <br />
                        Our collection currently holds over 20,000 physical and digital items, including rare publications, exhibition catalogues, ephemera and digital archives, made possible through generous donations, publication
                        exchanges with various art institutions in the region, and partnerships with the estates of Southeast Asian modern art pioneers, such as Georgette Chen and Lim Hak Tai (Singapore), S. Sudjojono (Indonesia) and
                        Kalaw Ledesma Foundation (the Philippines).<br />
                        <br />
                        Most archival acquisitions are conducted through loans or donations from the archives’ owners (artists, artists’ families, estates and art communities). The Library & Archive preserves the donated physical
                        archives and digitises loaned archives.<br />
                        <br />
                        A large selection of materials in our Library & Archive collection is <a href="https://collections.nationalgallery.sg/#/" target="_blank" rel="noopener noreferrer">searchable here </a>(You will be redirected to our Collections Search Portal). Due to
                        copyright restrictions and levels of permission from the archive owners, some items are only available for viewing onsite. You can view these items in the Collections Search Portal with our digital viewing
                        facility at the Gallery’s Rotunda Library & Archive
                    </p>
                </div>
                    <p>Credits: <a href="https://www.nationalgallery.sg/discover-learn/rotunda-library-archive" target="_blank" rel="noopener noreferrer">Rotunda Library & Archive</a></p>
            </div>
        </div>
        <div class="container" id="container2">
            <div class="row">
                <div class="col-6">
                    <h2 class="header">Map</h2>
                    <div class="iframe-rwd">
                        <iframe
                            width="425"
                            height="350"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d705.1281275195286!2d103.85067737882832!3d1.29004553463877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19149975f0ad%3A0x25f4c87107df300e!2sRotunda%20Dome!5e0!3m2!1sen!2ssg!4v1659267143042!5m2!1sen!2ssg"
                        ></iframe>
                        <br />
                        <small>
                            <a
                                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d705.1281275195286!2d103.85067737882832!3d1.29004553463877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19149975f0ad%3A0x25f4c87107df300e!2sRotunda%20Dome!5e0!3m2!1sen!2ssg!4v1659267143042!5m2!1sen!2ssg"
                                style="color: #0000ff; text-align: left;"
                            >
                                View Larger Map
                            </a>
                        </small>
                    </div>
                </div>
                <div class="col-6">
                    <h2 class="header">Operating Hours</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Days</th>
                                <th>Timing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Wednesday</td>
                                <td>10am-12.30pm and 2-5pm (closed on public holidays)</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>*Please note that some venues may be subject to opening hours, please visit their official website to confirm opening hours</p>
                    <h2 class="header">Contact Details</h2>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Phone Number:</td>
                                <td>+65 6690 9446</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>library.archive@nationalgallery.sg</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="header">Visit Official Site</h2>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><a href="https://www.nationalgallery.sg/discover-learn/rotunda-library-archive" target="_blank" rel="noopener noreferrer">Rotunda Library & Archive</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End of .container -->
    <script type="text/javascript">
        var myModal = document.getElementById("myModal");
        var myInput = document.getElementById("myInput");
        myModal.addEventListener("shown.bs.modal", function () {
            myInput.focus();
        });
    </script>
</body>
{% endblock %}
