{% extends 'base.html' %}
{% block title %}Explore Singapore - Vintage Camera Museum {% endblock %}
{% block content %}
<style>
    #containerabout {
        width: 100%;
        height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.vintagecamerasmuseumsg.com/admin/views/gallery/211117102217.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2vw;
        max-height: 600px;
        margin-bottom: 10px;
    }
</style>
<body>

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home')  }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('south.viewSouth') }}"></a>Places to Explore</li>
                <li class="breadcrumb-item"><a href="{{ url_for('south.viewSouth') }}"></a>South</li>
                <li class="breadcrumb-item active"><a href="{{ url_for('south.viewVintageCameraMuseum') }}"></a>Vintage Camera Museum</li>
            </ol>
        </nav>
    
    <!-- Header Image -->
    <div id="containerabout">
        <div class="centered">
            <h2 class="headerabout" id="header">Vintage Camera Museum</h2>
        </div>
    </div>
    <div class="container" id="containerbackground">
        <div class="container" id="container2">
            <div class="row">
                <div class="col-12">
                    <h2 class="header">About Us</h2>
                </div>
                <div class="col-12">
                    <p>
                        The Vintage Camera's Museum, itself is set in the form of a camera, and the entry is shaped like a lens. There are around 1000 cameras in display right from replicas of the world's biggest camera - the mammoth camera till the latest technological gadget, a 11 gram camera. Some of the other unique cameras which can be viewed in the museum are a walking stick camera, spy cameras, pigeon cameras, 3D camera and pistol cameras to name a few. Besides, the museum also has on display, rare collection of photographs featuring interesting facets about photography including an authentic replica of the first ever photograph taken. Visit us to witness the unique experience to learn about the transformation and the untold story of cameras.
                    </p>
                </div>


                <p>Credits: <a href="https://www.vintagecamerasmuseumsg.com/" target="_blank" rel="noopener noreferrer">Vintage Camera Museum</a></p>
            </div>
        </div>
        <div class='container' id="container2">
            <div class="row">
                <div class="col-6">
                    <h2 class="header">Map</h2>
                    <div class="iframe-rwd">
                        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.143356770961!2d103.8590172!3d1.3035014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ab694c088592038!2sVintage%20Camera%20Museum!5e0!3m2!1sen!2ssg!4v1659267867761!5m2!1sen!2ssg" ></iframe>
                        <br>
                        <small>
                          <a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.143356770961!2d103.8590172!3d1.3035014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ab694c088592038!2sVintage%20Camera%20Museum!5e0!3m2!1sen!2ssg!4v1659267867761!5m2!1sen!2ssg"  style="color:#0000FF;text-align:left">View Larger Map</a>
                        </small>
                    </div>
                </div>
                <div class = 'col-6'>
                    <h2 class="header">Operating Hours</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Days</th><th>Timing</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>Monday-Sunday</td><td>10:30am – 7:30pm </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>*Please note that some venues may be subject to opening hours, please visit their official website to confirm opening hours</p>
                    <h2 class="header">Contact Details</h2>
                    <table class="table table-hover">
                        <tbody >
                            <tr>
                                <td>Phone Number:</td><td>+65 6291 2278</td>
                            </tr>
                            <tr>
                                <td>Email:</td><td>ram@wemuseums.com</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="header">Visit Official Site</h2>
                    <table class="table table-hover">
                        <tbody >
                            <tr>
                                <td><a href="https://www.vintagecamerasmuseumsg.com/" target="_blank" rel="noopener noreferrer">Vintage Camera Museum</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End of .container -->
    <script type="text/javascript">
        var myModal = document.getElementById("myModal");
        var myInput = document.getElementById("myInput");
        myModal.addEventListener("shown.bs.modal", function () {
            myInput.focus();
        });
    </script>
</body>
{% endblock %}